:root.theme-dark {
  --content-font-size: 18px;
  --cover-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --decorated-color: #FF0070;
  --button-color: #FF0070;
  --accent-color: #FF0070;
  --heading-color: #DB00FF;
  --section-title-color: #FF0070;
  --decorative-label-display: flex;
  --subtitle-color: #000028;
}