:root.theme-light {
  --cover-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --decorated-color: #353430;
  --accent-color: #FF8DCB;
  --heading-color: #FFC2E6;
  --section-title-color: #353430;
  --decorative-label-display: none;
  --subtitle-color: #353430;
  --button-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --decorated-color: #353430;
    --accent-color: #FF8DCB;
    --heading-color: #FFC2E6;
    --section-title-color: #353430;
    --decorative-label-display: none;
    --subtitle-color: #353430;
    --button-color: #353430;
  }
}